/*Font*/
body {
  font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif;
  color: #777;
  font-size: 1.12em;
}
#content {
}
a:hover {
  color: #2c366b;
}
h1,
h2,
h3,
h4,
h5,
#page-title {
  color: #5a5a5a;
  font-family: "Times New Roman", Times, Georgia, Serif;
}
h1 {
  font-size: 2.1em;
  font-weight: 700;
}
h2 {
  font-size: 1.8em;
  font-weight: 500;
}
h3 {
  font-size: 1.5em;
  font-weight: 400;
}
h4 {
  font-size: 1.3em;
  font-weight: 200;
}

/*Drupal Page elements*/
.node__submitted {
  font-size: 0.8em;
}
