html,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img.responsive {
  max-width: 100%;
  height: auto;
}

dl,
dt,
dd,
ul {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -moz-padding-start: 0;
}
ul,
ol {
  list-style-position: inside;
}
@-moz-document url-prefix() {
  dl,
  dt,
  dd,
  ul {
    margin: 0;
  }
}

.form-item,
.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
select {
  max-width: 100%;
  width: 100%;
}

textarea {
  resize: vertical;
  width: 100%;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center,
.center {
  text-align: center;
}

ul.inline {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: block;
}
ul.inline li {
  display: inline;
}

q {
  quotes: "“" "”" "‘" "’";
  font-weight: 600;
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

/*Breadcrumb*/
.breadcrumb ul {
  margin-bottom: 0;
}
.breadcrumb li {
  list-style: none;
  display: inline
}
.breadcrumb li:last-child {
  display: none;
}

/* Horizontal Tabs */
ul.secondarytabs,
ul.primarytabs {
  list-style: none;
  display: table-row;
}
.primarytabs li {
  display: table-cell;
  padding: 4px 8px;
  border: 1px solid #aaa;
  background: #f5f5f5;
  border-radius: 5px 5px 0 0;
}
.secondarytabs li {
  display: table-cell;
  border-right: 1px solid #aaa;
  padding: 4px 8px;
  background: #f5f5f5;
}
.secondarytabs li:last-child {
  border-right: 0;
}
.secondarytabs li.active {
  background: transparent;
}
.primarytabs li.active {
  border-bottom: 0;
  background: transparent;
}

/* Page node-footer links */
ul.links.inline {
  display: block;
  padding: 0;
  margin: 15px 0;
}
ul.nodefooter li {
  padding: 4px;
  list-style: none;
  margin: 4px;
}
ul.nodefooter li:last-child {
  display: none;
}
ul.nodefooter .separator {
  display: none;
}

/* Pager  links */
ul.pager__items {
  display: block;
}
li.pager__item {
  list-style: none;
  display: inline;
}

/* Messages, Inline Form Error */
.messages {
  color: black;
  font-weight: 700;
  padding: .2em .5em;
}
.messages.messages--status {
  background: lime
}
.messages.messages--warning {
  background: lightyellow
}
.messages.messages--error {
  background: orangered
}
.highlighted div[role=alert],
.form-item--error-message {
  color: white;
  background: orangered
}

/* batch progress js */
.progress__track {
  height: 1.5em;
}
.progress__bar {
  border: 1px solid;
  height: 1.4em;
}

/* FAPI */
.form-item {
  margin-bottom: 1em;
}
.form-checkboxes .form-item,
.form-item.form-item-radios {
  margin-bottom: 0;
}
details {
  padding: 0 0 1em 0;
}
.vertical-tabs__panes {
  padding: 1em 1em;
}
