.bootcontainer label {
  width: 14vw;
  min-width:130px;
  height:1rem;
 vertical-align: bottom;
 display: inline-block;
}
.bootcontainer select {
  width: 100%;
}

.bootcontainer .form-item {
  display: inline;
  float: left;
  margin:0 1rem 0 1rem;
}

.bootcontainer details {
  display: inline;
  padding-bottom:2rem;
}
