{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">
{{ page.primary_menu }}
{{ page.secondary_menu }}

{% if page.header %}<header class="{{ fluid_header }}" role="banner">{{ page.header }}</header>{% endif %}

{% if page.breadcrumb %}<section id="breadcrumb" aria-label="{{ 'Breadcrumb'|trans }}" class="{{ fluid_breadcrumb }}"><div class="row"><div class="col col-sm-12">{{ page.breadcrumb }}</div></div></section>{% endif %}

{% if page.leaderboard_top %}<section class="{{ fluid_content }} leaderboard leaderboard-top"><div class="row"><div class="col col-sm-12">{{ page.leaderboard_top }}</div></div></section>{% endif %}

  <div class="{{ fluid_content }}"><div class="row">
    <main role="main" class="col"
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      {% if page.content_top %}<div class="row"><div id="content-top" class="col">{{ page.content_top }}</div></div>{% endif %}
      <div class="row no-gutter">

        <div class="col layout-content {{ grid_content }}">
          {{ page.highlighted }}
          {{ page.help }}
          {{ page.content }}
        </div>{# /.layout-content #}

        {% if page.sidebar_first %}
          <aside class="layout-sidebar-first col {{ grid_sidebar_first }}" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
      </div>

    </main>
  {% if page.sidebar_second %}
    <aside class="layout-sidebar-second col {{ grid_sidebar_second }}" role="complementary">
      {{ page.sidebar_second }}
    </aside>
  {% endif %}

  </div></div>

{% if page.leaderboard_bottom %}<section class="{{ fluid_content }} leaderboard leaderboard-bottom"><div class="row"><div class="col col-xs-12">{{ page.leaderboard_bottom }}</div></div></section>{% endif %}

{% if page.footer %}<footer role="contentinfo" class="{{ fluid_footer }}">{{ page.footer }}</footer>{% endif %}

</div>{# /.layout-container #}
